.container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.25fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

.calculator__output {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 3rem;
  padding: 0.3vw;
  color: white;
  background-color: #858693;
  text-align: right;
}
