.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.2rem 1.3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .pages {
  display: flex;
  align-items: center;
}

.nav .pages .links {
  padding: 0 0.3rem;
}

.nav .pages .middle-link {
  padding: 0 0.3rem;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}
